Simple Linear Regression
Salary Prediction

In [ ]:
import pandas as pd

In [2]:
salary = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Salary%20Data.csv')

In [3]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 772.0 bytes

In [5]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [6]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [7]:
X = salary[['Experience Years']]
y = salary['Salary']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.7,random_state=2529)

In [10]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((28, 1), (12, 1), (28,), (12,))

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(X_train,y_train)

LinearRegression()

In [13]:
model.intercept_

26596.961311068262

In [14]:
model.coef_

array([9405.61663234])

In [20]:
model.predict(X_test)

array([ 90555.15441095,  59516.61952424, 106544.70268592,  64219.42784041,
        68922.23615658, 123474.81262412,  84911.78443155,  63278.86617718,
        65159.98950364,  61397.74285071,  37883.70126987,  50111.00289191])

In [21]:
X_test

    Experience Years
29               6.8
11               3.5
33               8.5
16               4.0
19               4.5
38              10.3
27               6.2
14               3.9
17               4.1
12               3.7
1                1.2
6                2.5

In [22]:
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_absolute_percentage_error

In [17]:
mean_absolute_percentage_error(y_test,y_pred)

0.06384602996141632